.next-call {
    display: flex;
    border: solid;
    height: 10rem;
    width: 30rem;
    flex-direction: column;
    justify-content: center;
}

.next-call__details {
    
}

.next-call__info {
    margin: 20px;
    padding: 5px;
    border: solid;
    
}