.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
